<div class="trip-container">
  <div class="title-container">
    {{trip?.title}}
  </div>

  <button class="remove-button"
          (click)="onClick()">
    Delete
  </button>

  <button (click)="updateTrip()">
    Update the first trip
  </button>

  <div class="description-container">
    <span class="bold-element">Description</span>
    {{trip?.description}}
  </div>

  <div class="private-container">
    <label>Is this trip private? </label>
    <input type="checkbox"
           [checked]="trip.private"
           disabled>
  </div>
</div>
